<div class="row">
    <div class="col-md-10">
        <h3>Lista de Areas</h3>
    </div>
    <div class="col-md-2">
        <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#nuevoArea"> Nuevo </a>
    </div>
</div>
<hr class="my-4 bg-secondary">
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-sm table-active responsive tableArea_DataTables">
            <caption>Areas Habilitadas</caption>
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <!-- listar con ajax desde ajaxArea.js -->
            </tbody>
            <tfoot>
                <tr>
                    <th>N°</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal nuevo -->
<div class="modal fade" id="nuevoArea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form action="" method="POST" id="formArea">
            <div class="modal-header">
                <h5 class="modal-title">Registrar nueva area</h5>
                <button type="button" id="btn-cerrarModalNewArea" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" name="tituloArea" id="tituloArea" placeholder="Ingrese el nombre del area" class="form-control">
                </div>
                <div class="form-group">
                    <textarea name="descripcionArea" id="descripcionArea" cols="30" placeholder="Ingrese un descripción" class="form-control"></textarea>
                </div>                                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal editar -->
<div class="modal fade" id="editArea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form action="" method="POST" id="formEditArea">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="idArea" id="idArea">
            <div class="modal-header">
                <h5 class="modal-title">Editar area</h5>
                <button type="button" id="btn-cerrarModalEditArea" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" name="editTituloArea" id="editTituloArea" placeholder="Ingrese el nombre del area" class="form-control">
                </div>
                <div class="form-group">
                    <textarea name="editDescripcionArea" id="editDescripcionArea" cols="30" placeholder="Ingrese un descripción" class="form-control"></textarea>
                </div>                                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-block">Guardar cambios</button>
            </div>
            </form>
        </div>
    </div>
</div>