<div class="container">
    <header class="row">
        <div class="col-lg-12 text-center">
            <img class="animate__bounceIn" src="/img/legendary/legendary1.png" alt="Logo de Legendary Evolution" width="350px" height="350px">
            <hr class="my-4">
            <h4>Legendary Evolution SAC.</h4>
        </div>
    </header>
</div>