<div class="jumbotron mt-2">
    <h1 class="display-4">Legendary Evolution</h1>
    <p class="lead"> "LIDERES DESPERTANDO LIDERES" </p>
    <hr class="my-4">
    <p>
        Somos la primera comunidad de lideres despertando lideres, enfocados en la libertad financiera, espiritual y
        emocional.
        Con la misión de ser la primera comunidad más influyente a nivel mundial, desarrollando una educacion de la
        humanidad.
        Con la visión de promover la libertad para lograr mentes transcendentales y felices a través de la educacción.
    </p>
    <a href="#" class="btn btn-info btn-sm">Whiper</a>
</div>